.header{
  width: 400px;
  display: flex;

  margin-top: 10px;

  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input{
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inputWidth,
.inputHeight,
.inputMine{
  width: 100px;
  height: 20px;

  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(102, 102, 102);

  padding-left: 8px;

  margin: 5px;
} 

.button{
  width: 100px;
  height: 40px;

  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(129, 169, 255);

  background-color: rgb(129, 169, 255);

  color: white;
  font-size: 15px;
  font-weight: bold;

  cursor: pointer;

  padding-left: 5px;

  margin: 5px;
  margin-bottom: 10px;

  transition: all 0.2s;
}

.button:hover{
  color: rgb(129, 169, 255);
  background-color: white;
}

.button:active{
  filter: brightness(80%);
}